<ion-tabs>

<ion-tab-bar slot="bottom">

  <ion-tab-button tab="home">
    <ion-icon name="sunny"></ion-icon>
    <ion-label>home</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="test1">
    <ion-icon name="sunny"></ion-icon>
    <ion-label>test 1</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="test2" >
    <ion-icon name="moon"></ion-icon>
    <ion-label>test 2</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="test3">
    <ion-icon name="sunny"></ion-icon>
    <ion-label>test 3</ion-label>
  </ion-tab-button>


</ion-tab-bar>

</ion-tabs>
